.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.about-img img {
  width: 25vw;
  border-radius: 50%;
  border: 0.4rem solid var(--main-color);
}

.about-content h2 {
  font-size: 4.5rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  line-height: 2.3rem;
}